<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image1</key>
			<string>advertisement1.png</string>
			<key>image2</key>
			<string>advertisement2.png</string>
			<key>image3</key>
			<string>advertisement3.png</string>
			<key>image4</key>
			<string>advertisement4.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>news1</key>
			<string>#星爷美人女年底收官#</string>
			<key>news2</key>
			<string>#红米note3#</string>
			<key>news3</key>
			<string>#珠海入冬#</string>
			<key>news4</key>
			<string>热门话题</string>
			<key>newsImage</key>
			<string>findpage.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>feedgroup_timeline_icon_message@2x.png</string>
			<key>name</key>
			<string>热门微博</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>找人</string>
			<key>detail</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>游戏中心</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>应用</string>
			<key>detail</key>
			<string>汇聚微博里最热门APP</string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>周边</string>
			<key>detail</key>
			<string>看“古城”附近微博，发现身边趣事儿</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>奔跑2015</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>股票</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>旅游</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>电影</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>听歌</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>鲜城-北京</string>
			<key>detail</key>
			<string>玩转北京101条吃喝玩乐攻略</string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>购物</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>更多频道</string>
			<key>detail</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
