<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>userInfo_image.jpg</string>
			<key>name</key>
			<string>真小寒</string>
			<key>detail</key>
			<string>一只北极熊买了一副墨镜 戴上后沉思了一会说：好想吃竹子哦~</string>
			<key>userMemberLevel</key>
			<string>2</string>
		</dict>
		<dict>
			<key>info1</key>
			<string>12</string>
			<key>info2</key>
			<string>22</string>
			<key>info3</key>
			<string>13</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>feedgroup_timeline_icon_message@2x.png</string>
			<key>name</key>
			<string>新的好友</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>微博等级</string>
			<key>detail</key>
			<string>升等级，得奖励</string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>编辑资料</string>
			<key>detail</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>我的相册</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>我的点评</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>我的赞</string>
			<key>detail</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>微博会员</string>
			<key>detail</key>
			<string>卡片背景，送流量</string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>微博运动</string>
			<key>detail</key>
			<string>步数，卡路里，跑步轨迹</string>
		</dict>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>微博支付</string>
			<key>detail</key>
			<string>积分赢小米4</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>草稿箱</string>
			<key>detail</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>typeIcon</key>
			<string>a.png</string>
			<key>name</key>
			<string>更多</string>
			<key>detail</key>
			<string>收藏，等级</string>
		</dict>
	</array>
</array>
</plist>
